__pycache__/
*.pyc
venv/
.venv
.env
.env.local
.DS_Store
*.log
logs/*
!logs/.gitkeep
ml/saved_models/*
!ml/saved_models/.gitkeep
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
node_modules/
frontend/build/
token/
*.token
backend/venv/
backend/__pycache__/
backend/**/__pycache__/
backend/.env
backend/**/*.pyc
